
body {
font-family: 'Roboto', sans-serif !important;
}

.fullscreen{
height: 100vh; /* For 100% screen height */
width:100vw; /* For 100% screen width */
}

 .mypadding {
padding: 1% 4% 0 4%;
 }

 .card.hovercard .cardheader {
 background: url("<?php echo base_url('assets/img/profilebg2.jpg');?>");
background-size: cover;
height: 90px;
}

 .to-top {
background-color: #f55353;
 bottom: 20px;
 -o-transition: all 0.25s;
}
 .to-top i {
font-size: 16px;
color: #fff;
}
 .to-top.show-top {
 opacity: 0.6;
 visibility: visible;
}
 .to-top:hover {
 opacity:1;
 }

 /*========== to top btn =========*/
.diiototop {
font-size: 16px;
text-align: center;
border: 2px solid #FD037E;
border-radius: 50px;
width: 50px;
height: 50px;
padding-top: 8px;
background-color: #10C4EF;
}
 /*==========end to top btn ======*/
.fullwidth {
margin-left: 0;
margin-right: 0; 
width: 100%;
}

.partialwidth {
width: 92%;
}

.diiosearch {
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
font-size: 16px;
background-color: white;
background-repeat: no-repeat;
padding: 5px 20px 12px 40px;
-webkit-transition: width 0.4s ease-in-out;
transition: width 0.4s ease-in-out;
}

.diiosearch:focus {
width: 130%;
}

.become-freelancer-btn {
color: #fff; 
margin-right: 20px; 
padding-bottom: 12px; 
padding-top: 12px; 
font-size: 18px; border: 2px solid #fff;
text-shadow: 0px 0px !important;
}

.become-freelancer-btn:hover {
color:#35404F;
background-color: #fff;
border-radius: 25px;
}

.become-freelancer-btn-sm {
color: #fff; 
margin-right: 20px; 
padding-bottom: 12px; 
padding-top: 12px; 
font-size: 18px;"
font-size: 18px; border: 2px solid #fff;
text-shadow: 0px 0px !important;
}

.become-freelancer-btn-sm:hover {
color:#35404F;
background-color: #fff;
border-radius: 25px;
}

.post-job-btn1-lg {
color: #35404F; 
font-size: 16px; 
margin-top: 5px;
background-color: #FFCF2A;
text-shadow: 0px 0px !important;
}

.post-job-btn1-lg:hover {
color: #35404F; 
border-radius: 25px;
font-size: 18px; border: 2px solid #fff; 
}

.post-job-btn2-lg {
color: #35404F; 
background-color: #FFCF2A;
margin-right: 20px; 
padding-bottom: 12px; 
padding-top: 12px; 
font-size: 18px;
font-size: 18px; border: 2px solid #FFCF2A;
text-shadow: 0px 0px !important;
}

.post-job-btn2-lg:hover {
color: #35404F; 
border-radius: 25px;
font-size: 18px; border: 2px solid #fff; 
}

.post-job-btn2-sm {
/*#35404F*/
color: #35404F; 
background-color: #FFCF2A; 
margin-right: 20px; 
padding-bottom: 12px; 
padding-top: 12px; 
font-size: 18px;
font-size: 18px; border: 2px solid#FFCF2A;
text-shadow: 0px 0px !important;
}

.post-job-btn2-sm:hover {
color: #35404F; 
border-radius: 25px;
font-size: 18px; border: 2px solid #fff; 
}

/*<!-- =============== LARGE DROPDOWN (MORE)========= -->*/

.mega-dropdown {
position: static !important;
}
.mega-dropdown-menu {
padding: 20px 0px;
width: 100%;
box-shadow: none;
-webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
padding: 0;
margin: 0;
}
.mega-dropdown-menu > li > ul > li {
list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
display: block;
color: #222;
padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
font-size: 16px;
color: #ff3546;
padding: 5px 60px 5px 5px;
line-height: 30px;
}

.diioHover: hover {
color: red;
 background: yellow;
}
.topli{
 padding-left: 10px; 
 margin-top: 5px; 
 margin-bottom: 10px;
}
.topli2{
font-size: 16px; 
padding-right: 25px;
}

/*<!-- =================== END MORE==================== -->*/


 /*////////////////TOP NAV BAR////////////////*/

.top-bar{background-color:black;min-height:40px;padding-top:5px;padding-bottom: 0px;}
.top-bar .nav-text {
color: #00BCD4;
display: block;
margin-top: 5px;
}
.top-bar .social{color:#FFF;display:inline-block;padding:5px;text-decoration: none;}

.top-bar .tools{margin:0px;padding:0px;list-style-type:none;}
.top-bar .tools li{list-style-type: none;display:inline-block;}
.top-bar .tools li a {
display: block;
text-decoration: none;
color: #fff;
padding-left: 15px;
padding-top: 5px;
}

.navbar-brand {
/* float: left; */
height: 50px;
padding: 3px 15px;
font-size: 18px;
line-height: 20px;
position: absolute;
z-index: 11;
margin: 0 auto;
right: 42%;
}


.navbar-inverse {
background-color: #fff;
border-color: #080808;
}

.navbar {
position: relative;
min-height: 50px;
margin-bottom: 0px;
border: 0px solid #000;;
border-radius:0px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-inverse .navbar-nav > li > a {
color: black;
font-style: bold;
}

.navbar-inverse .navbar-nav > li > a:hover {
color: black;
background-color:lightgray;
}

.nav > li > a {
position: relative;
display: block;
padding: 15px 11px;}

.form-control{
border-color:gray;
border-radius:15px;
background-color:transparent;
}

.btn-default-1 {
color: gray;
background-color: transparent;
border-color: gray;
border-radius: 15px;
}

.cart-heart a{display:inline-block;color:#fff;font-size:20px;padding:5px;}

/*CROUSELE START///////////////////////////*/

.carousel-caption {
position: absolute;
/*right: 15%;*/
bottom: 15px;
/*width: 60%;*/
/*left: 15%;*/
z-index: 10;
padding-top: 30px;
padding-bottom: 20px;
color: #fff;
text-align: left;
text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

@media screen and (min-width:768px){
.carousel-caption h3{font-size: 52px;} 
.carousel-caption p{font-size: 32px;} 
.carousel-caption{padding-bottom:160px;}
}


.carousel-caption2 {
position: absolute;
/*right: 15%;*/
bottom: 15px;
/*width: 60%;*/
/*left: 15%;*/
z-index: 10;
padding-top: 30px;
padding-bottom: 20px;
color: #fff;
text-align: left;
text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

@media screen and (min-width:768px){
.carousel-caption2 h3{font-size: 52px;} 
.carousel-caption2 p{font-size: 32px;} 
.carousel-caption2{padding-bottom:160px;}
}


/*FOOTER START///////////////////*/

.footer {
padding: 50px 0 20px 0;
background-color: #35404f;
color: #878c94;
}
.footer .title{text-align: left;color:#fff;font-size:25px;}


.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.footer .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;}


.footer .category a {
text-decoration: none;
color: #fff;
display: inline-block;
padding: 5px 20px;
margin: 1px;
border-radius:4px;
margin-top: 6px;
background-color: black;
border: solid 1px #fff;
}

.footer .payment{margin:0px;padding:0px;list-style-type:none}
.footer .payment li{list-style-type:none}
.footer .payment li a {
text-decoration: none;
display: inline-block;
color: #fff;
float: left;
font-size: 25px;
padding: 10px 10px;
}

.homesch {
margin: 30px;
background-color: #F2F2F2;
border: 0px solid black;
opacity: 1;
border-radius: 15px;
padding: 30px 20px 30px 20px;
filter: alpha(opacity=100); /* For IE8 and earlier */
}

.homesch select {
opacity: 1;
width: 100%;
opacity: 1;
/*padding: 16px 20px;*/
/*border: 1px solid;*/
border-radius: 5px;
 /* color: black;*/
 /* background-color: #fff;*/
}
.homesch select option {

 /* color: black;*/
 /* background-color: #f1f1f1;*/
}

/*XXXXXXPROFILE CARD XXXXXX*/
.card {
padding-top: 20px;
margin: 10px 0 20px 0;
background-color: rgba(214, 224, 226, 0.2);
border-top-width: 0;
border-bottom-width: 2px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.card .card-heading {
padding: 0 20px;
margin: 0;
}

.card .card-heading.simple {
font-size: 20px;
font-weight: 300;
color: #777;
border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
display: inline-block;
width: 46px;
height: 46px;
margin-right: 15px;
vertical-align: top;
border: 0;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
display: inline-block;
vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
margin: 0;
font-size: 14px;
line-height: 16px;
color: #262626;
}

.card .card-heading.image .card-heading-header span {
font-size: 12px;
color: #999999;
}

.card .card-body {
padding: 0 20px;
margin-top: 20px;
}

.card .card-media {
padding: 0 20px;
margin: 0 -14px;
}

.card .card-media img {
max-width: 100%;
max-height: 100%;
}

.card .card-actions {
min-height: 30px;
padding: 0 20px 20px 20px;
margin: 20px 0 0 0;
}

.card .card-comments {
padding: 20px;
margin: 0;
background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
padding: 0;
margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
padding-right: 5px;
overflow: hidden;
font-size: 12px;
color: #999;
text-overflow: ellipsis;
white-space: nowrap;
}

.card-comments .media-heading {
font-size: 13px;
font-weight: bold;
}

.card.people {
position: relative;
display: inline-block;
width: 170px;
height: 300px;
padding-top: 0;
margin-left: 20px;
overflow: hidden;
vertical-align: top;
}

.card.people:first-child {
margin-left: 0;
}

.card.people .card-top {
position: absolute;
top: 0;
left: 0;
display: inline-block;
width: 170px;
height: 150px;
background-color: #ffffff;
}

.card.people .card-top.green {
background-color: #53a93f;
}

.card.people .card-top.blue {
background-color: #427fed;
}

.card.people .card-info {
position: absolute;
top: 150px;
display: inline-block;
width: 100%;
height: 101px;
overflow: hidden;
background: #ffffff;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.card.people .card-info .title {
display: block;
margin: 8px 14px 0 14px;
overflow: hidden;
font-size: 16px;
font-weight: bold;
line-height: 18px;
color: #404040;
}

.card.people .card-info .desc {
display: block;
margin: 8px 14px 0 14px;
overflow: hidden;
font-size: 12px;
line-height: 16px;
color: #737373;
text-overflow: ellipsis;
}

.card.people .card-bottom {
position: absolute;
bottom: 0;
left: 0;
display: inline-block;
width: 100%;
padding: 10px 20px;
line-height: 29px;
text-align: center;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.card.hovercard {
position: relative;
padding-top: 0;
overflow: hidden;
text-align: center;
background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
/*background: url("<?php echo base_url('assets/img/profilebg3.jpg');?>");*/
background: url("../../img/profilebg3.png");
background-size: cover;
height: 135px;
}

.card.hovercard .avatar {
position: relative;
top: -50px;
margin-bottom: -50px;
}

.card.hovercard .avatar img {
width: 100px;
height: 100px;
max-width: 100px;
max-height: 100px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
padding: 4px 8px 10px;
}

.card.hovercard .info .title {
margin-bottom: 4px;
font-size: 24px;
line-height: 1;
color: #262626;
vertical-align: middle;
}

.card.hovercard .info .desc {
overflow: hidden;
font-size: 12px;
line-height: 20px;
color: #737373;
text-overflow: ellipsis;
}

.card.hovercard .bottom {
padding: 0 20px;
margin-bottom: 17px;
}

.btnrnd{ border-radius: 50%; width:32px; height:32px; line-height:18px;}

/*XXXXX END PROFILE CARD XX*/